.menu {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba($carribianGreen, .8);
  z-index: 100;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  &__item {
    margin-bottom: 50px;
  }
  &__link {
    font-family: $titleFont;
    font-size: 63px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    &:before, &:after {
      content: '';
      @include center(y);
      position: absolute;
      width: 22px;
      height: 5px;
      background-color: $carribianGreen;
    }
    &:before {
      right: -35px;
    }
    &:after {
      left: -35px;
    }
  }
}
.internet {
  display: flex;
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    width: 40px;
    height: 40px;
  }
  &__icon {
    width: 40px;
    height: 40px;
    fill: #9eaaab;
  }
}
.submenu {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-bottom: 25px;
  }
  &__link {
    display: block;
    text-align: right;
    text-decoration: none;
    color: $fiord;
  }
}