.button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 45px;
  padding: 0 27px;
  font-family: $mediumFont;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}