section.footer
  .footer__top
    .footer__nav
      ul.footer__nav-list
        each menuItem in ['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
          li.footer__nav-item
            a(href="" class="footer__nav-link") #{menuItem}
      .footer__internet
        ul.internet
          each item in ['vk2', 'github2', 'in2']
            li.internet__item
              a(href="#").internet__link
                svg.internet__icon
                  use(xlink:href="static/img/svg/symbol/sprite.svg#" + item)
  .footer__bottom
    .footer__text
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, totam.
    .footer__copyright
      p Lorem ipsum dolor sit amet.
