section.section.hero
  .hero__bg
    img(src="static/img/general/portfolio.jpg").hero__bg-img
  .hero__community
    ul.community
      each item in ['vk', 'github', 'in']
        li.community__item
          a(href="#").community__link
            svg(class="community__icon community__icon-" + item)
              use(xlink:href="static/img/svg/symbol/sprite.svg#" + item)
  a(href="").hamburger
    .hamburger__icon
    .hamburger__icon
    .hamburger__icon
  a(href="").menu-close
  a(href="").hero__down-arrow
    svg.hero__down-arrow-icon
      use(xlink:href="static/img/svg/symbol/sprite.svg#arrow_down")
  .hero__title
    img(src="static/img/general/portfolio_header.png").hero__title-img
    //svg.hero__icon
      //use(xlink:href="static/img/svg/symbol/sprite.svg#portfolio_header")
    .hero__user-block.user
      .user__photo
         img(src="static/img/content/user.jpg").user__photo-img
      .user__name Статик Про
      .user__desc My site