section.map
  .map__bg
    img(src="static/img/general/map.jpg").map__bg-img
  .map__contacts
    .contacts
      .contacts__title
        .subtitle
          | Контакты
      .contacts__item
        svg.contacts__icon
          use(xlink:href="static/img/svg/symbol/sprite.svg#skype")
        p.contacts__text my skype
      .contacts__item
        svg.contacts__icon
          use(xlink:href="static/img/svg/symbol/sprite.svg#mail")
        p.contacts__text my mail
      .contacts__item
        svg.contacts__icon
          use(xlink:href="static/img/svg/symbol/sprite.svg#tel")
        p.contacts__text my tel
      .contacts__item
        svg.contacts__icon
          use(xlink:href="static/img/svg/symbol/sprite.svg#flag")
        p.contacts__text my adress
  .map__flag
    svg.map__flag-icon
      use(xlink:href="static/img/svg/symbol/sprite.svg#flag")


