include ../mixins
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel='stylesheet' href="static/css/main.css")

    block title
      title Страница ввода данных

  body
    .wrapper
      section.section.enter
        .enter__bg
          img(src="static/img/general/login-bg.jpg")
        .enter__block
          .enter__title
            .subtitle Авторизируйтесь
          form.enter__form
            .enter__text-group
              span.enter__input-icons
                svg.enter__input-icon
                  use(xlink:href="static/img/svg/symbol/sprite.svg#login")
              input.enter__input(type="text", placeholder="Логин" name="Login")
            .enter__text-group
              span.enter__input-icons
                svg.enter__input-icon
                  use(xlink:href="static/img/svg/symbol/sprite.svg#password")
              input.enter__input(type="password", placeholder="Пароль" name="Password")
            .enter__form-group
              input#cb.enter__checkbox(type="checkbox" value="human")
              label(for='cb') Я человек
            .enter__form-group.enter__form-group--last
              .enter__radio-title Вы точно не робот?
              .enter__radio-input
                input#rb1.enter__radio(type="radio" name="robot" value="yes")
                label(for='rb1') Да
                input#rb2.enter__radio(type="radio" name="robot" value="no")
                label(for='rb2') Нет
            .enter__buttons
              a(href="").enter__button-1 На главную
              button.enter__button-2(type="submit") Войти
        .login__copyright
          p Static Pro site. All rights received



  scripts(src="static/js/libs.min.js")
  scripts(src="static/js/main.js")