extends ../mainLayout

block title
  title Обо мне

block content

    include ../modules/hero

    include ../modules/about

    include ../modules/map

    include ../modules/footer



    section.section

