.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#282828, .8);
  &__top {
    border-bottom: 1px solid #7d8284;
  }
  &__nav {
    padding: 15px 30px 15px 30px;
    display: flex;
  }
  &__nav-list {
    display: flex;
  }
  &__nav-item {
    margin-right: 40px;
    padding: 12px 0 12px 0;
    &:last-child {
      margin-right: 0;
    }
  }
  &__nav-link {
    text-decoration: none;
    color: white;
  }
  &__internet {
    margin-left: auto;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 30px;
  }
  &__text {
    display: block;
    flex: 1 0 560px;
    max-width: 560px;
  }
  &__text p {
    margin-bottom: 10px;
    color: #7d8284;
    line-height: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__copyright {
    flex: 1 0 460px;
    max-width: 460px;
    color: #7d8284;
  }
  &___copyright p {
    margin-bottom: 10px;
    color: #7d8284;
    &:last-child {
      margin-bottom: 0;
    }
  }
}