@import "config/fonts";
@import "config/vars";
@import "config/mixins";
@import "config/libs";

html {
  font-size: $baseFontSize;
  height: 100%;
}

body {
  font-family: $regularFont;
  height: 100%;
}



//Модули
@import "modules/modules";

// СТРАНИЦЫ
// Главная страница
@import 'pages/index';