.community {
  display: flex;
  &__item {
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    fill: $nebula;
    width: 31px;
    height: 23px;
    &:hover {
      fill: white;
    }
  }
}