.community {
  position: absolute;
  top: 3%;
  left: 2%;
  display: flex;

  &__link {
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin-right: 28px;
    fill: $nebula;
    width: 31px;
    height: 23px;

    &:hover {
      fill: white;
    }
  }





}