.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__photo {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 25px;

  }
  &__photo-img {
    width: 100%;
    height: auto;
    display: block;
  }
  &__name {
    font-size: 35px;
    font-family: $mediumFont;
    color: #ffffff;
  }
  &__desc {
    font-family: $regularFont;
    font-size: 16px;
    color: #ffffff;
    font-weight: 100;
  }

}