.map {
  position: relative;
  &__contacts {
    @include center();
  }
  &__flag {
    position: absolute;
    bottom: 48%;
    right: 14%;
  }
  &__flag-icon {
    width: 44px;
    height: 44px;
    fill: $green;
  }
}