.title {
  color: $outerSpace;
  font-size: 63px;
  font-family: $titleFont;
  padding: 45px 80px;
  position: relative;
  display: inline-block;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &--about {
    background-image: url("../img/general/about_header.png");
  }

  &:after, &:before {
    content: '';
    display: block;
    @include center(y);
    background-color: rgba($outerSpace, .2);
    width: 22px;
    height: 5px;
  }

  &:after {
    right: 40px;
  }

  &:before {
    left: 40px;
  }
}
.subtitle {
  font-family: $titleFont;
  font-size: 35px;
  line-height: 41px;
  color: $fiord;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  display: inline-block;
  &:before, &:after {
    content: '';
    display: block;
    @include center(y);
    background-color: rgba($outerSpace, .2);
    width: 22px;
    height: 5px;
  }
  &:before {
    left: -37px;
  }
  &:after {
    right: -37px;
  }
}