@font-face {
  font-family: 'ptsans-regular';
  src: url('../fonts/') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptsans-bold';
  src: url('../fonts/') format('woff2');
  font-weight: bold;
  font-style: normal;
}