@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}

@mixin clear-link {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

@mixin view-port($width) {
  min-width: $width;
  margin: 0 auto;
}

@mixin flex-center($dir: column) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

@mixin center($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}