// COLORS
$heather: #c0d0d6;
$cararra: #efeee9;
$beige: #eeebdf;
$outerSpace: #373e42;
$nebula: #c1d6d6;
$carribianGreen: #00bfa5;
$fiord: #455A64;
$green: #10c1a8;
$grey: #555b5e;



// SIZES
$baseFontSize: 14px;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Fonts
$mediumFont: 'roboto-medium',Arial,sans-serif;
$regularFont: 'roboto-regular',Arial,sans-serif;
$titleFont: 'bernier-regular',Arial,sans-serif;