// COLORS




// SIZES
$baseFontSize: 16px;

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Fonts
$boldFont: 'ptsans-bold',Arial,sans-serif;
$regularFont: 'ptsans-regular',Arial,sans-serif;